<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shareride">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShareRide"
        tools:targetApi="31">
        <activity
            android:name=".Screens.OfferRideTwo"
            android:exported="false" />
        <activity
            android:name=".Screens.OfferRideOne"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAziaDoRKMlgCY16gBA_CVqWV7WmpPaq0U" />

        <activity
            android:name=".Screens.DestinationLocationScreen"
            android:exported="false"
            android:label="@string/title_activity_destination_location_screen" />
        <activity
            android:name=".Screens.SourceLocationScreen"
            android:exported="false"
            android:label="@string/title_activity_source_location_screen" />
        <activity
            android:name=".Screens.Profile"
            android:exported="false" />
        <activity
            android:name=".Screens.CarDetails"
            android:exported="false" />
        <activity
            android:name=".Screens.ViewMyCars"
            android:exported="false" />
        <activity
            android:name=".Screens.AddCar"
            android:exported="false" />
        <activity
            android:name=".Screens.EditProfile"
            android:exported="false" />
        <activity
            android:name=".CropperActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Screens.HomeScreen"
            android:exported="false" />
        <activity
            android:name=".Screens.SignUp"
            android:exported="false" />
        <activity
            android:name=".Screens.EmailVerification"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>